[submodule "externals/tinyobjloader"]
	path = externals/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "externals/glm"]
	path = externals/glm
	url = git@github.com:g-truc/glm.git
